/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.station_list,
.captures_list {
    list-style-type: none;
    display: block;
    width: 100% !important;
}

.station_list li {
    display: inline-block;
    float: left;
    min-width: 5%;
}

.captures_list li {
    display: inline-block;
    float: left;
    width: 220px;
    padding: 2px;
    margin: 5px;
}
.captures_list li img {
    padding: 2px;
    margin: 5px;
    border: 1px solid darkgray;
}

.wp-block-separator {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
}

.capture_date {
    display: inline-block;
    width: 200px;
}